div{
    width: 100%;
    margin: 2rem auto;
}
.section-heading-container{
    border: 5px solid black;
    padding: 4px 4%;
    width: fit-content;
}
p{
    font-weight: 700;
    letter-spacing: 5px;
}