div{
    width: 100%;
}
.section-heading-container{
    border: 5px solid black;
    padding: 0 2rem;
    width: fit-content;
    text-wrap: nowrap;
}
p{
    font-weight: 700;
    letter-spacing: 5px;
}