.hero-footer-main{
    padding: 2% 3%;
    color: #fff;
    background-image: linear-gradient(to left, #1D1D1D, #1D1D1D);
}
.title{
    font-size: 1.3rem;
    font-weight: 700;
}
.description{
    width: 70%;
    text-align: justify;
}
