<div class="hero-footer-main">
    <p class="title">Hello,</p>
    <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem eveniet facilis quibusdam
        aliquam minima deleniti a voluptatem. Magni, harum, officia quasi sunt excepturi eius dicta nulla atque dolorum
        maiores optio ducimus delectus vero qui! Voluptatum officia amet debitis facilis! Sit illo eum perspiciatis hic
        veniam laudantium cum in dolore quaerat?</p>
    <app-explore-button [title]="'READ MORE'"></app-explore-button>
</div>