//variables
$blue: #1e90ff;
$white-primary: #ffffff;
$black-primary: #000000;
$raleway: "Raleway", sans-serif;
$montserrat: "Montserrat", sans-serif;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-centred {
  display: flex;
  justify-content: center;
}

@mixin border {
  border: 2px solid green;
}
