@use "@angular/material" as mat;
@include mat.core();

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import "variables";

$my-portfolio-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    density: (
      scale: 0,
    ),
  )
);

:root {
  @include mat.all-component-themes($my-portfolio-theme);
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #d7d7d7;
  font-family: $montserrat, sans-serif;
}
