@import "../../../../variables";

.hero-intro-container {
  @include flex-column;
  gap: 3rem;
  padding: 10px;
  justify-content: center;
  width: 60%;
  height: 75vh;
}

.hero-intro-logo {
  width: 2rem;
  height: 2rem;
}

.logos-container {
  display: flex;

  gap: 1rem;
}

.hero-intro-logo-container {
  width: 60px;
  height: 60px;
}

.logos-container img {
  padding: 8px;
  background-color: #c4c4c4;
  box-shadow: 2px 4px 4px 0px rgba($color: #000000, $alpha: 0.25);
}
