<div class="hero-intro-container">
    <img class="hero-intro-logo" src="assets/hero-banner-icon.svg" alt="">
    <div class="hero-introduction">
        <p class="hero-intro-greet-message">Hi, I am</p>
        <p class="hero-intro-name">Krishna Anand</p>
        <p class="hero-intro-description">Full Stack Developer</p>
    </div>

    <div class="logos-container">
        <img src="assets/hero-intro-rate-icon.svg" alt="mail">
        <img src="assets/hero-intro-git-icon.svg" alt="mail">
        <img src="assets/hero-intro-linked-in-icon.svg" alt="mail">
    </div>
</div>